---
# Ultimux generated config file
# Created On {{ created_ts }}
# Created By {{ created_by }}

{{ session_name }}:
{%- if tiled %}
  layout: 'tiled'
{%- endif %}
{%- if synchronize %}
  synchronize: true
{%- else %}
  synchronize: false
{%- endif %}
  panes:
{%- for host in hosts %}
  - ssh:
      server: {{ host }}
{%- if shell_cmd %}
    shell: '{{ shell_cmd -}}'
{% endif %}
{%- if directory %}
    dir: '{{ directory -}}'
{% endif %}
{% endfor -%}